*{
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}
body{
    background-color: var(--bg-color);
    color: var(--text-colorw);
}
header{
    position: fixed;
    width: 100%;/* pq 100% e pq no #header esta 1100px*/
    top: 0;
    right: 0;
    z-index: 10;/*sopreposição*/ 
}
section{
    max-width: 1110px;
    margin: 0 auto;
    padding-top: 100px;
}
:root{
    --bg-color:#14213d;
    --text-colorw: #e5e5e5;
    --main-color:#fca311;
    --second-color:#ffffff;
    --big-font: 4.5rem;
    --h2-font:3.2rem;
    --p-font: 1.2rem;

}
#header{
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
   
}
#navbar-icon{
    font-size: 25px;
    color: var(--text-colorw);
    z-index: 11;
    cursor: pointer;
    display: none;
}
/*#btn-color{
    color: white;
}*/
.home{
    min-height: 100vh;
    height: 100%;
    width: 100%;
    position: relative;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    grid-gap: 5rem;
}
.home-text h1{
    margin: 12px 0 25px 0;
    font-size: var(--big-font);
}
.home-text h5{
    margin-bottom: 20px;
    font-size: 24px;
}
.home-text span{
    color: var(--main-color);
}
.home-text p{
    font-size: var(--p-font);
    color: var(--second-color);
    line-height: 25px;
    margin-bottom: 20px;
}
.btn-header{
    display: inline-block;
    padding: 10px 25px;
    border: 2px solid var(--main-color) ;
    border-radius: 20px;
    color: var(--text-colorw);
    letter-spacing: 1px;
    font-size: var(--p-font);
    font-weight: 500;
    transition: ease 0.6s;
}/*efeito no botão login*/
.btn-header:hover{
    color: var(--bg-color);
    background: var(--main-color);
    transform: scale(1.2);
}
.logo-header img{
    width: 100px;
    margin: 1px 1px;
    border: 1px solid white;
   
}
.navbar-header{ 
    
    display: flex;
    list-style: none;
}
.navbar-header li{
    position: relative;
}
.navbar-header a{
    text-decoration: none;
    color: var(--text-colorw);
    font-size: var(--p-font);
    padding: 10px 20px;   
}
/* efeito de linha*/
.navbar-header a::after{
    content: '';
    position: absolute;
    width: 0%;
    height: 2px;
    background: var(--main-color);
    bottom: -5px;
    left: 0;
    transition: ease .70s;
}
.navbar-header a:hover::after{
    width: 100%;
}
