*{
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}
body{
    background-color: var(--bg-color);
    color: var(--text-colorw);
}
header{
    background-color: #111F32;
    position: fixed;
    border-bottom: 1px solid white ;
    width: 100%;/* pq 100% e pq no #header esta 1100px*/
    top: 0;
    right: 0;
    z-index: 10;/*sopreposição*/ 
}
section{
    max-width: 1110px;
    margin: 0 auto;
    padding-top: 100px;
}
header.sticky{
    background-color:#0D1726 ;
    padding: 5px 0;
    box-shadow: 0 0 10px rgb(0, 0, 0 / 20%);
}
footer{
    text-align: center;
    padding: 50px 0;
    font-size: var(--p-font);
    color: var(--second-color);
}
:root{
    --bg-color:#14213d;
    --text-colorw: #e5e5e5;
    --main-color:#fca311;
    --second-color:#ffffff;
    --big-font: 4.5rem;
    --h2-font:3.2rem;
    --p-font: 1.2rem;

}
#header{
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
   
}
#navbar-icon{
    font-size: 25px;
    color: var(--text-colorw);
    z-index: 11;
    cursor: pointer;
    display: none;
}
/*#btn-color{
    color: white;
}*/
.home{
    min-height: 100vh;
    height: 100%;
    width: 100%;
    position: relative;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    grid-gap: 5rem;
}
.home-text h1{
    margin: 12px 0 25px 0;
    font-size: var(--big-font);
}
.home-text h5{
    margin-bottom: 20px;
    font-size: 24px;
}
.home-text span{
    color: var(--main-color);
}
.home-text p{
    font-size: var(--p-font);
    color: var(--second-color);
    line-height: 25px;
    margin-bottom: 20px;
}
.home-social-media a{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: var(--main-color);
    color: var(--bg-color);
    margin: 0 20px 30px 0;
    text-decoration: none;
}
.home-social-media a:hover{
    transform: scale(1.2);
    transition: .50s;
   
}
.btn-sobre{
    text-decoration: none;
    display: inline-block;
    color: var(--bg-color);
    background: var(--main-color);
    font-size: var(--p-font);
    padding: 10px 35px;
    border-radius: 10px;
    transition:  ease .50s;
}
.btn-sobre:hover{
    transform: scale(1.2);
}
.btn-header{
    display:inline-block;
    padding: 10px 25px;
    border: 2px solid var(--main-color) ;
    border-radius: 20px;
    color: var(--text-colorw);
    letter-spacing: 1px;
    font-size: var(--p-font);
    font-weight: 500;
    transition: ease 0.6s;
}/*efeito no botão login*/
.btn-header:hover{
    color: var(--bg-color);
    background: var(--main-color);
    transform: scale(1.2);
}
.logo-header img{
    width: 100px;
    margin: 1px 1px;
    border: 1px solid white;
   
}
.navbar-header{ 
    
    display: flex;
    list-style: none;
}
.navbar-header li{
    position: relative;
}
.navbar-header a{
    text-decoration: none;
    color: var(--text-colorw);
    font-size: var(--p-font);
    font-weight: 500;
    padding: 10px 20px;   
}
/* efeito de linha*/
.navbar-header a::after{
    content: '';
    position: absolute;
    width: 0%;
    height: 2px;
    background: var(--main-color);
    bottom: -5px;
    left: 0;
    transition: ease .70s;
}
.navbar-header a:hover::after{
    width: 100%;
}
.services-itens{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(210px,auto));
    grid-gap:2rem;
    align-items: center;
    text-align: center;

}
.itens{
    padding: 50px;
    transition: ease .50s;
    cursor: pointer;
}
.itens img{
    max-width: 100%;
    width: 88px;
    height: auto;
    margin-bottom: 20px;
}
.itens h3{
    font-size: 24px;
    margin-bottom: 24px;

}
.itens p{
    font-size: var(--p-font);
    color: var(--second-color);
    line-height: 25px;
}
.itens:hover{
    background: var(--main-color);
    box-shadow: 20px 0 90px 0 rgb(10, 10, 70 / 10%);
    border-radius: 12px;
    will-change: transform;
    transform: perspective(1000px) rotateX(4.8deg) rotateY(10.2deg) scale3d(1.0,1.0,1.0);

}

.item2{
    padding: 50px;
    transition: ease .50s;
    cursor: pointer;
}
.item2 img{
    max-width: 100%;
   width: 55px;
    height: auto;
}
.item2 h3{
    font-size: 24px;
    margin-bottom: 24px;
}
.item2 p{
    font-size: var(--p-font);
    color: var(--second-color);
    line-height: 25px;

}
.item2:hover{
    background: var(--main-color);
    box-shadow: 20px 0 90px 0 rgb(10, 10, 70 / 10%);
    border-radius: 12px;
    will-change: transform;
    transform: perspective(1000px) rotateX(4.8deg) rotateY(10.2deg) scale3d(1.0,1.0,1.0);

}
.about{
    display: grid;
    grid-template-columns: repeat(2,2fr);
    align-items: center;
    grid-gap: 2rem;
}
.about img{
    max-width: 100%;
    width: 400px;
    height: auto;

}
.about-text h3{
    font-size: 32px;
    margin-bottom: 20px;
}
.about-textp p {
    font: var(--p-font);
    color: var(--second-color);
    line-height: 25px;
    margin-bottom: 20px;
}
.btn{
    display: inline-block;
    margin: 5px;
    text-decoration: none;
    border-radius: 12px;
    padding: 10px;
    background: var(--main-color);
}
.btn:hover{
    transform: scale(1.2);
    transition: ease 0.5s;
}
.contact{
    background: linear-gradient(360deg ,#325C97,#14213d );
    margin-top: 150px;
    padding: 50px 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 10px;
}
.contact-text h3{
    font-size: 25px;
    color: var(--text-colorw);
    margin-bottom: 20px;
}
.contact-text p{
    font-size: var(--p-font);
    color: var(--text-colorw);
    margin-bottom: 20px;
}
.form input[type="submit"]{
    padding: 15px;
    background: var(--main-color);
    color: var(--bg-color);
    border: none;
    margin: 0 10px;
    border-radius: 10px;
}
.form input[type="email"]{
    max-width: 100%;
    width: 450px;
    padding: 15px;
    background: var(--bg-color);
    color: var(--text-colorw);
    border: none;
    margin: 0 10px;
    border-radius: 10px;
}